@model Department
@{
    ViewData["Title"] = "New";
}

<h1>New</h1>
<!--
    What *
    Who
    How post
-->
<!--Request url:/Department/SaveNew?Name=&ManagerName=-->
<form method="post" action="/Department/SaveNew">
    <div>
        <label>Name</label>
        <input type="text" name="Name" id="Name" class="form form-control" value="@Model?.Name" />
    </div>
    <div>
        <label></label>
        <input type="text" name="ManagerName" id="ManagerName" class="form form-control" value="@Model?.ManagerName" />
    </div>
    <input type="submit" value="Create" class="btn btn-success" />
</form>
<a href="/Department/index">back to list</a>